<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LoL Champion Recommender</title>
  <meta name="description" content="Champion Counter Picks">
  <meta name="author" content="Bryce Fintel">




  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/creative.css" rel="stylesheet">




  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    calculate = function(){
    a1 = $("#ally1").val()
    a2 = $("#ally2").val()
    a3 = $("#ally3").val()
    a4 = $("#ally4").val()
    a5 = $("#ally5").val()
    e1 = $("#enemy1").val()
    e2 = $("#enemy2").val()
    e3 = $("#enemy3").val()
    e4 = $("#enemy4").val()
    e5 = $("#enemy5").val()
    el1 = $("#enemy_laner1").val()
    el2 = $("#enemy_laner2").val()


    pick_dict = {a1 : a1, a2 : a2, a3 : a3, a4 : a4, a5 : a5, e1 : e1, e2 : e2, e3 : e3, e4 : e4, e5 : e5, el1 : el1, el2 : el2}

    $.post({
      url: "/calculate",
    contentType: "application/json",
    data: JSON.stringify(pick_dict),
    success: function(result){
      $(".hidden").css("display","inline").html("Your Best Picks are:" +
      "<br/>" + "<br/>" + result.predictions);
    }
    });
  }
  </script>

  <style>
    .hidden {
	     display: none;
	    }
  </style>

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">LoLCounter.us</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Reccomend Champion</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">How it works</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">League of Legends Champion Counter Pick</h1>
        <hr>
        <p>
          <br /><br /><br /><br />
          <br /><br /><br /><br />
          <br /><br /><br /><br />
          Get the winning edge with the strongest champion possible. <br/>
          Just enter in your already picked allied and enemy champions.
        </p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Find your counter pick</a>
      </div>
    </div>
  </header>



  <section class="bg-grey" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Enter champions picked so far</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-users text-primary sr-icons"></i>
            <h3>Allied Picks</h3>
            <p class="text-muted">
              <input type="int" placeholder="Ally 1" id="ally1" class="champinput">
              <label for="ally1"></label>
              <input type="int" placeholder="Ally 2" id="ally2" class="champinput">
              <label for="ally2"></label>
              <input type="int" placeholder="Ally 3" id="ally3" class="champinput">
              <label for="ally3"></label>
              <input type="int" placeholder="Ally 4" id="ally4" class="champinput">
              <label for="ally4"></label>

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-times text-primary sr-icons"></i>
            <h3>Enemy Picks</h3>
            <p class="text-muted">
              <input type="int" placeholder="Enemy 1" id="enemy1" class="champinput">
              <label for="enemy1"></label>
              <input type="int" placeholder="Enemy 2" id="enemy2" class="champinput">
              <label for="enemy2"></label>
              <input type="int" placeholder="Enemy 3" id="enemy3" class="champinput">
              <label for="enemy3"></label>
              <input type="int" placeholder="Enemy 4" id="enemy4" class="champinput">
              <label for="enemy4"></label>
              <input type="int" placeholder="Enemy 5" id="enemy5" class="champinput">
              <label for="enemy5"></label>

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-exchange text-primary sr-icons"></i>
            <h3>Who's your enemy laner?</h3>
            <p class="text-muted">
              <input type="int" placeholder="Enemy Laner" id="enemy_laner1" class="champinput">
              <br /><br />
              <input type="int" placeholder="2nd Enemy Laner" id="enemy_laner2" class="champinput">
              <label for="enemy1" style="color: black">Only if you're bot lane</label>
            </p>
          </div>
        </div>
      </div>
  <br>
  <br /><br />
  <br /><br />
  <div class="col-lg-8 mx-auto text-center">
    <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="calculate();">Calculate</a>
  </div>
  <br /><br />
    <div class="col-lg-8 mx-auto text-center">
      <h3><span class="hidden"></span></h3>
  </div>
    </div>
  </section>


  <section class="bg-slate" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading"><br />How it works</h2>
          <hr class="light">

    <p>
       lolcounter.us is built using a probabalistic model that analyzes the winrates
       of various champion matchups to suggest the champion pick that will maximize
       your chance of winning your game.  <br /><br />
       There are currently 138 league of legends champions, each with their unique strengths
       and weaknesses.  lolcounter.us takes into account not just the strength of each individual champion
       pick, but also the viabillity of each champion in conjunction with each of your allied
       champions.  Similarly, each champion you could pick is compared to each enemy pick, with
       special emphasis placed on your enemy laner. <br /><br />
       Counterpicking is a key part of league of legends meta game strategy, and is neccesary
       in maximizing your chances at victory.  lolchampion.us seeks to quantify these matchup strengths,
       and helps you make champion pick decisions not on vague feelings but on the actual data recorded
       from hundreds of thousands of games.  <br /><br />
       See you on the rift.

    </p>

        </div>
      </div>
    </div>
  </section>

  <section class="bg-slate" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">


    <p>
      <img src="https://s3.amazonaws.com/battlefy-user-generated-assets/users/559e1ef56a27d84300d67094/5707292bf993038512cefc7d.jpg" alt="Victory" align="middle">
      <br/>
      lolcounterus@gmail.com <br/>
      <a href="https://github.com/brycefintel/LoL_Champion_Counter">Project GitHub</a>
    </p>

        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/popper/popper.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/creative.min.js"></script>



</body>
</html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var availableTags = [
      "evelynn",
      "zed",
      "nunu",
      "swain",
      "taric",
      "skarner",
      "ekko",
      "nasus",
      "graves",
      "jax",
      "shaco",
      "morgana",
      "aatrox",
      "xayah",
      "nidalee",
      "kassadin",
      "sona",
      "reksai",
      "cassiopeia",
      "taliyah",
      "malzahar",
      "amumu",
      "khazix",
      "olaf",
      "irelia",
      "riven",
      "nami",
      "jhin",
      "kogmaw",
      "gangplank",
      "syndra",
      "poppy",
      "volibear",
      "kennen",
      "ryze",
      "gragas",
      "garen",
      "diana",
      "karthus",
      "jayce",
      "bard",
      "sion",
      "elise",
      "alistar",
      "vayne",
      "tahmkench",
      "ezreal",
      "mordekaiser",
      "lux",
      "fiora",
      "kalista",
      "twistedfate",
      "kled",
      "kindred",
      "illaoi",
      "darius",
      "drmundo",
      "tryndamere",
      "hecarim",
      "lissandra",
      "anivia",
      "yorick",
      "nocturne",
      "jarvaniv",
      "ashe",
      "malphite",
      "aurelionsol",
      "annie",
      "twitch",
      "yasuo",
      "kayle",
      "janna",
      "blitzcrank",
      "zac",
      "talon",
      "sivir",
      "quinn",
      "heimerdinger",
      "leblanc",
      "xinzhao",
      "katarina",
      "chogath",
      "shen",
      "ivern",
      "jinx",
      "caitlyn",
      "missfortune",
      "renekton",
      "viktor",
      "brand",
      "warwick",
      "corki",
      "braum",
      "maokai",
      "draven",
      "ornn",
      "thresh",
      "urgot",
      "tristana",
      "galio",
      "vladimir",
      "orianna",
      "masteryi",
      "soraka",
      "varus",
      "fizz",
      "veigar",
      "rengar",
      "nautilus",
      "vi",
      "lulu",
      "pantheon",
      "trundle",
      "ahri",
      "kayn",
      "shyvana",
      "leesin",
      "udyr",
      "camille",
      "lucian",
      "zyra",
      "fiddlesticks",
      "zilean",
      "rakan",
      "rammus",
      "rumble",
      "gnar",
      "wukong",
      "sejuani",
      "xerath",
      "ziggs",
      "velkoz",
      "singed",
      "karma",
      "akali",
      "leona",
      "azir",
      "teemo"
    ];
    $( ".champinput" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
</head>
<body>




</body>
</html>
