<html lang="en">
<head>
  <meta charset="utf-8">

  <title>LoL Champion Recommender</title>
  <meta name="description" content="Champion Counter Picks">
  <meta name="author" content="Bryce Fintel">




  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/creative.min.css" rel="stylesheet">




  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    calculate = function(){
    a1 = $("#ally1").val()
    a2 = $("#ally2").val()
    a3 = $("#ally3").val()
    a4 = $("#ally4").val()
    a5 = $("#ally5").val()
    e1 = $("#enemy1").val()
    e2 = $("#enemy2").val()
    e3 = $("#enemy3").val()
    e4 = $("#enemy4").val()
    e5 = $("#enemy5").val()

    pick_dict = {a1 : a1, a2 : a2, a3 : a3, a4 : a4, a5 : a5, e1 : e1, e2 : e2, e3 : e3, e4 : e4, e5 : e5}

    $.post({
      url: "/calculate",
    contentType: "application/json",
    data: JSON.stringify(pick_dict),
    success: function(result){
      $(".hidden").css("display","inline").html("ChampionID one: " + result.a1 + " ChampionID two:  " + result.a2
      + " ChampionID three: " + result.a3 + " ChampionID four:  " + result.a4 + " ChampionID five:  " + result.a5);
    }
    });
  }
  </script>

  <style>
    .hidden {
	     display: none;
	    }
  </style>

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Wolfram Pre-Alpha</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Great Equations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Solve Your Own</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Previous Equations</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">Your Favorite Source of Quadratic Equations</h1>
        <hr>
        <p>Wolfram Pre-Alpha can help you solve all your quadratic equations woes!  Just plug in the numbers and start going, no strings attached!</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#services">Let's Do It!</a>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">My Favorite Quadratic Equations!</h2>
          <hr class="light">
          <p class="text-faded">x^2 + 2x + 1 is a classic.  My new jam is x^2 - 2x + 1.  What's yours?</p>
          <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Solving!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Enter Your Coefficients</h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
            <h3>Squared Term</h3>
            <p class="text-muted"><input type="text" placeholder="a" id="xsquare"></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
            <h3>Linear Term</h3>
            <p class="text-muted"><input type="text" placeholder="b" id="x"></p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
            <h3>Constant Term</h3>
            <p class="text-muted"><input type="text" placeholder="c" id="constant"></p>
          </div>
        </div>
      </div>
  <br>
  <div class="col-lg-8 mx-auto text-center">
    <a class="btn btn-primary btn-xl js-scroll-trigger" onclick="submit();">Solve It!</a>
  </div>
    <div class="col-lg-8 mx-auto text-center">
      <h3><span class="hidden"></span></h3>
  </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">What Others Are Feeling</h2>
          <hr class="light">
    {% for equation in equations %}
    <p>{{ equation.equation }}'s roots are {{ equation.root_1|float|round }} and {{ (equation.root_2)|float|round(1) }}</p>
    {% endfor %}
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/popper/popper.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/creative.min.js"></script>



    <h1>League of Legends team-based counter pick recommender</h1>
    <p>Description here</p>
    <p>More info here</p>
        <h3>Enter your allied champions</h3>
        <p>
      	<input type="int" placeholder="Ally 1" id="ally1">
      	<label for="ally1">Top</label>
        <input type="int" placeholder="Enemy 1" id="enemy1">
        <label for="enemy1">Top</label>
      </p>

      	<input type="int" placeholder="Ally 2" id="ally2">
      	<label for="ally2">Jungle</label>

      	<input type="int" placeholder="Ally 3" id="ally3">
      	<label for="ally3">Mid</label>

        <input type="int" placeholder="Ally 4" id="ally4">
        <label for="ally4">Support</label>

        <input type="int" placeholder="Ally 5" id="ally5">
        <label for="ally5">Adc</label>

        <h3>Enter your enemy champions</h3>
        <input type="int" placeholder="Enemy 1" id="enemy1">
        <label for="enemy1">Top</label>

        <input type="int" placeholder="Enemy 2" id="enemy2">
        <label for="enemy2">Jungle</label>

        <input type="int" placeholder="Enemy 3" id="enemy3">
        <label for="enemy3">Mid</label>

        <input type="int" placeholder="Enemy 4" id="enemy4">
        <label for="enemy4">Support</label>

        <input type="int" placeholder="Enemy 5" id="enemy5">
        <label for="enemy5">Adc</label>



        <button onclick="calculate();">Calculate</button>

        <p><span class="hidden"></span></p>

</body>
</html>
